.loading {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba($color: #000000, $alpha: 0.5);

    svg {
        position: relative;
        width: 150px;
        height: 150px;
        animation: rotate 2s linear infinite;

        circle {
            width: 100%;
            height: 100%;
            fill: none;
            stroke-width: 10;
            stroke: var(--main-color);
            stroke-linecap: round;
            transform: translate(5px, 5px);
            stroke-dashoffset: 440;
            stroke-dasharray: 440;
            animation: animate 4s linear infinite;
        }
    }
}

@keyframes animate {
    0%,
    100% {
        stroke-dashoffset: 440;
    }
    50% {
        stroke-dashoffset: 0;
    }
    50.1% {
        stroke-dashoffset: 880;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
