.login-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;

    form {
        box-shadow: var(--box-shadow);
        background-color: var(--main-bg);
        border: 1px solid #ddd;
        padding: 0px 30px 30px 30px;
        width: 400px;
        display: flex;
        flex-direction: column;
        text-align: center;
        border-radius: 10px;
        position: relative;
        padding-top: 80px;

        .name {
            font-size: 24px;
            font-weight: 600;
            margin-top: -30px;
            margin-bottom: 20px;
            color: var(--main-color);
        }

        .logo {
            height: 80px;
            width: 80px;
            border-radius: 50%;
            border: 4px solid var(--main-color);
            overflow: hidden;
            position: absolute;
            top: -40px;
            left: 50%;
            transform: translateX(-50%);
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
        button {
            display: inline-block;
            width: 100%;
            margin: 30px 0;
            font-size: 16px;
            padding: 12px 20px;
            border-radius: 6px;
            background-color: var(--main-color);
            color: #fff;
            transition: all 0.2s ease-in-out;

            &:hover {
                background-color: var(--second-color);
            }
        }

        a {
            font-weight: 500;
            font-size: 14px;
        }

        p {
            margin-top: 10px;
            font-size: 14px;
        }
    }
    .input-group {
        &__label {
            p {
                margin: 0;
                font-size: 12px;
            }
        }
    }
}
